absl-py==2.2.0

annotated-types==0.7.0
anyio==4.6.2.post1
AnyQt==0.2.0
app==0.0.1
appnope==0.1.4
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0

bcrypt==4.1.3
beautifulsoup4==4.12.3
binaryornot==0.4.4
blinker==1.8.2


cachetools==5.5.0
catalogue==2.0.10

cattrs==24.1.2
certifi==2023.11.17
cffi==1.17.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.3
cloudpathlib==0.21.0
comm==0.2.2
commonmark==0.9.1
confection==0.1.5
contourpy==1.3.1
cookiecutter==2.1.1
create-app==0.6.2
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
dash==2.17.0
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.7
decorator==4.4.2
dictdiffer==0.9.0
docutils==0.21.2
docx==0.2.4
entrypoints==0.4
et-xmlfile==1.1.0
executing==2.1.0
Faker==30.0.0
favicon==0.7.0
Flask==3.0.3
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
fonttools==4.56.0
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.71.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
htbuilder==0.6.2
httpcore==1.0.6
httpx==0.27.2
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib_metadata==7.1.0
importlib_resources==6.3.0
ipykernel==6.29.5
ipython==8.29.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.1
Jinja2==3.1.4
jinja2-time==0.2.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.9.0
keyring==25.5.0
keyrings.alt==5.0.2
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
libclang==18.1.1
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mlxtend==0.23.1
more-itertools==10.5.0
moviepy==1.0.3
murmurhash==1.0.12
namex==0.0.8
narwhals==1.8.3
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1

opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
openTSNE==1.0.2
opt_einsum==3.4.0
optree==0.14.1
orange-canvas-core==0.2.4
orange-widget-base==4.25.0
Orange3==3.37.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pdfminer.six==20250416
pexpect==4.9.0
php==1.2.1
pillow==11.1.0
platformdirs==4.3.6
plotly==5.22.0
preshed==3.0.9
proglog==0.1.10
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==5.28.2
psutil==6.1.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydeck==0.9.1
pygame==2.6.1
Pygments==2.18.0
pymdown-extensions==10.10.1
PyMuPDF==1.25.5
pyparsing==3.2.3
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-louvain==0.16
python-slugify==8.0.4
pytube==15.0.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.2.0
qasync==0.27.1
qtconsole==5.6.1
QtPy==2.4.2
referencing==0.35.1
regex==2024.11.6
reportlab==4.4.0
requests==2.28.1
requests-cache==1.2.1
retrying==1.3.4
rich==13.8.1
rpds-py==0.20.0
scikit-image==0.23.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
serverfiles==0.3.1
setuptools==69.0.3
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
source==1.2.0
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
srsly==2.5.1
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
streamlit==1.38.0
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.7
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tenacity==8.3.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
text-unidecode==1.3
textblob==0.18.0.post0
thinc==8.3.6
threadpoolctl==3.6.0
tifffile==2024.5.22
toml==0.10.2
toolz==1.0.0
tornado==6.4.1
tqdm==4.66.1
traitlets==5.14.3
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
url-normalize==1.4.3
urllib3==1.26.20
validators==0.34.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.0.3
wheel==0.45.1
wrapt==1.17.2
xgboost==2.1.2
xlrd==2.0.1
XlsxWriter==3.2.0
zipp==3.18.1
