{% extends "base.html" %}
{% block contenido %}
<h1>Contacto</h1>

<div class="contacto">
    <p><strong>Hernandez Vargas Maria Fernanda</strong></p>
    <p>fer.her123v@gmail.com</p>
    <p>7227440243</p>
</div>

<div class="contacto">
    <p><strong>Martinez Vera Juan Pablo</strong></p>
    <p>mtzveraj194@gmail.com</p>
    <p>7292619896</p>
</div>

<div class="contacto">
    <p><strong>Padilla Flores Fernando</strong></p>
    <p>ferpadillaf07@gmail.com</p>
    <p>7291041968</p>
</div>

<div class="contacto">
    <p><strong>Rosas Bravo Dulce Maria</strong></p>
    <p>dulcemariarosasb@gmail.com</p>
    <p>7226040637</p>
</div>

<div class="contacto">
    <p><strong>Rodriguez Mejia Fabiola</strong></p>
    <p>fabidun44@gmail.com</p>
    <p>7224281003</p>
</div>
{% endblock %}
